body{
    background: #EEEEEB;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.imgLeftColumn {

}
.imgRightColumn {

}
.game-row {
    margin-left:0px;
    margin-right:0px;
    border-top: 1px solid #CECECE;
}

.game-row .rigthColumn{
    overflow: hidden;
    white-space: nowrap;
    min-height: 41px;
    padding-top: 6px;
}

.game-row .middle-column{
    min-height: 41px;
    padding-top: 6px;
}

.game-row .leftColumn{
    overflow: hidden;
    white-space: nowrap;
    min-height: 41px;
    padding-top: 6px;
}

.game-row .leftColumn div{
    display: inline-block;
}

.game-row .rigthColumn div{
    display: inline-block;
}
.game-row div{
    //display: inline-block;
}
.game-result-row{
    background: #FFF;
    margin-left: 0px;
    margin-right: 0px;
    max-height: 0px;
    -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
    overflow: hidden;
}

.shown {
    max-height: 120px;
}

/*.hide{
    max-height: 0px;
    display: none;
}*/
.game-result-row .rigthColumn{
    padding-top: 8px;
}

.game-result-row .middle-column{
    padding-top: 5px;
    padding-bottom: 5px;
}

.game-result-row .leftColumn{

    padding-top: 8px;
}
.group-table-region{
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    max-height: 310px;
}

.hide-region{
    //height: 0px !important; 
    max-height: 0px !important; 
    overflow: hidden !important;
}

.group-game-region{
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFCEC;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    max-height: 600px;
}

.group-header{
    font-size: 30px;
    padding-left: 5px;
    padding-top: 6px;
    margin-top: 0px;
    background: #035000;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 5px 2px rgba(197, 197, 197, 0.7);
    color: #F8FF4A;
}

.group-header-collapse-icon{
    float: right;
    margin-right: 6px;
    margin-top: 8px;
    color: #FFFB9E;
    font-size: 22px;
}

.group-table{
    margin-bottom: 0px;
}

.group-table > tbody > tr > td{
    vertical-align: middle;
}

.result{
    width: 30px;
    text-align: center;
}

.valid{
    border-color: #00C710;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 199, 16, 0.6);
}

.invalid{
    border-color: #rgba(226, 49, 49, 1);
    box-shadow: 0 1px 1px rgba(226, 49, 49, 0.075) inset, 0 0 8px rgba(226, 49, 49, 0.6);
}

.clickable{
    cursor: pointer; 
    cursor: hand;
}




.group-region{
    background: #FFF;
    border-radius: 25px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    box-shadow: 0px 0px 5px 2px rgba(197, 197, 197, 0.7);
    margin-bottom: 50px;
}

.group-region .table-striped > tbody > tr:nth-child(even) > td {
//background-color: rgb(247, 255, 158);
}

.group-region .table-striped > tbody > tr:nth-child(odd) > td {
//background-color: rgb(247, 255, 158);
}

.result {
    //background: rgb(255, 253, 207) 
} 

body{
    //background-color: #CFFFCD;
}

.user-competition-link{
    font-size: 22px;
    padding-left: 7px;
    color: #494949;
}

.user-competition-table-header{
    font-size: 22px;
    padding-left: 7px;
    color: #494949;
    margin-top: 57px;
}

.user-competition-header{
    border-bottom: 1px solid #B8B8B8;
    color: #4E4E4E;
    margin-bottom: 13px;
}

.correct-sign{
    background: #D2FFCA;
}

.incorrect-sign{
    background: #FFCACA;
}

.score-text{
    padding-right: 36px;
}

.navigation{
    background-color: #000841;
}
.navigation-title{
    color: #FFF85C  !important;
}

.navigation-link{
    color: #FFF85C  !important;
}